$sandbox-slate: rgba(77, 77, 97, 1);
$dark-sandbox-slate: darken($sandbox-slate, 30%);
$light-sandbox-slate: lighten($sandbox-slate, 20%);

window {
  //background-image: none;
  background-color: $sandbox-slate;
  color: $light-sandbox-slate;
}

treeview {
  color: black;
  background-color: $dark-sandbox-slate;
  header > button {
    color: $light-sandbox-slate;
  }
  :selected {
    background-color: cornflowerblue;
  }
}

notebook
{
  stack {
    // This stack belongs to the notebook
    background-color: red;
    background-image: none;
    stack {
      // This stack is a nested stack, on a "page" of the notebook
      background-color: pink;
      background-image: none;
    }
  }
}