#main-child-wnd
{
  background-color: #103480;
  background-image: none;
}


stack
{
  // -- CAUTION --
  // The GtkStack has a child CSS node called stack also (probably using the same widgets under the hood)
  background-color: #4178EA;
  background-image: none;

  button
  {
    //background-image: darken(lightskyblue, 15%);
    color: #1A4EBA;
    border: 4px;
    border-radius: 50%;
  }
}

stackswitcher
{
  background-image: none;
  background-color: darkblue;
  button
  {
    border: 4px;
    //background-clip: content-box;
    border-radius: 50%;

    label{
      color: #1189E0;
    }
  }
}

.round-button
{
  border-radius: 50%;
}