#main-child-wnd
{
  background-color: red;
  background-image: none;
}


stack {
  background-color: lightskyblue;
  background-image: none;

  button
  {
    //background-image: darken(lightskyblue, 15%);
    border: 4px;
    border-right: 3px;
    border-right-color: darkred;
    border-top-right-radius: 20px;
  }
}

stackswitcher{

  border: 4px;
  border-right: 3px;
  border-right-color: darkgray;
  border-top-right-radius: 20px;

  button
  {
    border: 4px;
    border-right: 3px;
    border-right-color: darkgray;
    border-top-right-radius: 20px;
  }
}
